[Unit]
Description=System for management the web-server
Requires=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=java -jar {{ app_dir }}/{{ app_file }}
Environment=PORT={{ app_port }}